/* --- PRIMARY FONT STYLING --- */

@font-face {
  font-family: 'CallunaSansRegular';
  src: url('../fonts/callunasans_regular_macroman/CallunaSansRegular-webfont.woff2') format('woff2'),
       url('../fonts/callunasans_regular_macroman/CallunaSansRegular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'CallunaSansRegular';
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: .13em;
  line-height: 1.6em;
}

h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  letter-spacing: .21em;
  line-height: 1.3em;
}

/* --- NAV MENUS --- */

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.menu-left, .menu-center, .menu-right { position: absolute; }

.menu-left {
  left: 0;
  padding-left: 5.625rem;
}

.menu-right {
  right: 0;
  padding-right: 5.625rem;
}

/* --- INDEX CAROUSEL --- */

.carousel-item {
  height: 32rem;
  background: #333;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

.carousel-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  padding-left: 75px;
}