/* --- /// PRIMARY FONT STYLING /// --- */
/* - Import Fonts - */

@font-face {
  font-family: 'Ortica-Light';
  src: url('../fonts/Ortica/Ortica-Light.woff2') format('woff2'),
       url('../fonts/Ortica/Ortica-Light.woff') format('woff');
}

@font-face {
  font-family: 'Sprat-Regular';
  src: url('../fonts/Sprat/SpratRegular.woff2') format('woff2'),
       url('../fonts/Sprat/SpratRegular.woff') format('woff');
}

@font-face {
  font-family: 'Messapia-Bold';
  src: url('../fonts/Messapia/Messapia-Bold.woff2') format('woff2'),
       url('../fonts/Messapia/Messapia-Bold.woff') format('woff');
}

@font-face {
  font-family: 'NectoMono-Regular';
  src: url('../fonts/NectoMono/Necto-Mono.woff2') format('woff2'),
       url('../fonts/NectoMono/Necto-Mono.woff') format('woff');
}

/* - Font Styling - */

body { font-family: Ortica-Light; }

h1, h2 {
  font-family: Sprat-Regular;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: .1rem;
}

.nav-link, .dropdown-item, .carousel-container h2 {
  font-family: Messapia-Bold;
  text-transform: uppercase;
  font-size: .6rem;
  letter-spacing: .21em;
}

.carousel-container h2 { 
  font-size: 1rem;
  letter-spacing: 0.2em;
}

.carousel-container p {
  font-family: NectoMono-Regular;
  font-size: 0.6875rem;
  font-weight: regular;
  font-style: normal;
  line-height: 1.6em;
  letter-spacing: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-outline-primary {
  font-family: 'Bebas Neue';
  font-size: 2rem;
  color: #c25538;
  border-color: #c25538;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  color:#fff;
  background-color: #c25538;
  border-color: #c25538;
}


/* --- NAV MENUS --- */

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.menu-left, .menu-center, .menu-right { position: absolute; }

.menu-left {
  left: 0;
  padding-left: 5.625rem;
}

.menu-right {
  right: 0;
  padding-right: 5.625rem;
}

/* --- INDEX CAROUSEL --- */

.carousel-item {
  height: 35rem;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

.carousel-container {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  padding-top: 50px;
  padding-right: 50px;
}

.carousel-control-prev, .carousel-control-next {
  top: auto;
  padding-bottom: 50px;
}