@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Culture';
}

@layer base {
  :root {    
    --background: 60 9% 98.04%;
    --foreground: 20 14.3% 4.1%;

    --dark-background: 40 10% 6.1%;

    --primary: 28 47% 81%;
    --primary-foreground: 60 9% 98%;

    --card: 60 5% 96.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 60 9% 98.04%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 25 26% 48%;
    --secondary-foreground: 60 9% 98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 30%;

    --accent: 21 39% 38%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 24 100% 80%;

    --radius: 0.5rem;

    --font-serif: 'Gilda Display', 'Rousseau', 'Abril Fatface', 'Playfair Display', 'Libre Baskerville', 'Crimson Text', 'EB Garamond', 'Georgia', 'Times New Roman', 'serif';
    --font-header: 'Culture', 'Rousseau', 'Abril Fatface', 'Playfair Display', 'Libre Baskerville', 'Crimson Text', 'EB Garamond', 'Georgia', 'Times New Roman', 'serif';
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-darkBackground text-foreground;
    @apply font-serif;
  }
}